@if(isExistingFolio()) {
<app-header [data]="this.data" />
<main>
  <div class="select-wrapper">
    <div class="search" data-bs-toggle="modal" data-bs-target="#modalSearch">
      button
    </div>
    <app-select [folios]="folios()" [folio]="folio()" />
  </div>
  <p class="page-number" [class.translation-active]="translationActive">
    {{ translation().page }}
  </p>
  <div class="text" [class.translation-active]="translationActive">
    <app-latin-text [latin_text]="latin_text()" [folio]="folio()" />
    @if(translationActive) {
    <app-translation [translation]="translation().json" />
    }
  </div>
  <app-apparatus-container [apparatus]="apparatus()" [folio]="folio()" />
  <app-note-container [notes]="notes()" />
  <app-navigation
    [navigation]="this.navigation()"
    [pages]="translation().page"
  />
  <app-modal-search />
</main>
} @else {
<app-not-found />
}
