.select-wrapper {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 4rem;
}

.text {
  padding: 2rem 20vw;
}

.text.translation-active {
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

@media screen and (max-width: 1024px) {
  .text {
    padding: 2rem 15vw;
  }
}

@media screen and (max-width: 820px) {
  .text {
    padding: 2rem 10vw;
  }
}

@media screen and (max-width: 768px) {
  .text {
    padding: 1rem 5vw;
  }
  .select-wrapper {
    padding: 1.5rem;
    padding-top: 2.5rem;
  }
}