.select {
    display: flex;
    justify-content: center;
    padding: 2rem;
    padding-top: 4rem;
}

.text {
  padding: 2rem 20rem;
}

.text.translation-active {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}