.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: .5rem 0;
}

.search-bar input {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid #565656;
    border-radius: 5px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.search-bar input:focus {
    box-shadow: 1px 1px 4px #353535;
    outline: none;
}

.search-bar button {
    cursor: pointer;
}

app-search-help {
    display: inline-flex;
    margin-top: .35rem;
}
