<!--select
  class="form-select absolute"
  aria-label="Default select example"
  onfocus="this.size=3;"
  onblur="this.size=1;"
  onchange="this.size=1; this.blur();"
>
  <option value="1">One</option>
  <option value="2">Two</option>
</select>-->

<div class="btn-group">
  <button
    type="button"
    class="button dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ this.folio()!.replaceAll('_', ' ') }}
  </button>
  <ul #el class="list dropdown-menu" appScroll="show" [folio]="this.folio()" [action]="this.scrollInside!">
    @for (folio of this.folios(); track folio) {
    <li [id]="'item_' + folio">
      <a
        class="dropdown-item"
        [routerLink]="['/edition', folio]"
        routerLinkActive="current"
        >{{ folio!.replaceAll('_', ' ') }}</a
      >
    </li>
    }
  </ul>
</div>

<!--
 @for (folio of folios(); track folio) {
        <li><a class="dropdown-item" [routerLink]="['/edition', folio]" routerLinkActive="current">{{ folio }}</a></li>
    }
 @for (folio of this.folios(); track folio) {
    <li>
      <a
        class="dropdown-item"
        [routerLink]="['/edition', folio]"
        routerLinkActive="current"
        >{{ folio }}</a
      >
    </li>
    }
-->
