.button {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #1d1d1d;
}

ul.list {
    width: 100%;
    max-height: 50px;
    overflow-y: scroll;
}

a.current {
    background-color:#0D6EFD;
    color: #fff;
}

