<div class="btn-group select">
  <button
    type="button"
    class="button dropdown-toggle"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{ this.folio()!.replaceAll('_', ' ') }}
  </button>
  <ul #el class="list dropdown-menu" appScroll="show" [folio]="this.folio()">
    @for (folio of this.folios(); track folio) {
    <li appScroll [noteId]="this.folio()" [id]="'item_' + folio">
      <a
        class="dropdown-item"
        [routerLink]="['/edition', folio]"
        routerLinkActive="current"
        >{{ folio!.replaceAll('_', ' ') }}</a
      >
    </li>
    }
  </ul>
</div>