.angles {
    cursor: pointer;
    caret-color: transparent;
    position: fixed;
    bottom: 2rem
}

.angles:hover {
    opacity: .8;
}

.left {
    left: 1.5rem;
}

.right {
    right: 1.5rem;
}

fa-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: #1d1d1d;
}