.modal-dialog {
    width: 95%;
    max-width: 800px;
}

.modal-content {
    height: 95%;
    background-color: #2e2e2e;
    color: #fff;
}

.modal-header {
    border: none;
    padding: 0;
    display: block;
}