.modal-home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e2e2e;
  color: #fff;
  width: 95%;
  max-width: 1000px;
  height: 95%;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.modal-home .body {
  padding: 1rem;
  overflow: auto;
  flex: 1;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}
