.bibl-item {
  list-style: none;
  margin-bottom: 1.5rem;
}

.author {
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  font-style: italic;
}

.article-list, .monography-list {
    margin: 0;
    padding: 0;
}

h3 {
  font-size: 1.5rem;
}
