@for(subtext of this.msIdentifier; track subtext.id) { @switch (true) { @case
((subtext.tagName === 'country') || (subtext.tagName === 'region') ||
(subtext.tagName === 'settlement') || (subtext.tagName === 'institution') ||
(subtext.tagName === 'msName') || (subtext.tagName === 'repository') ||
(subtext.tagName === 'idno')) {
<tr>
  <td class="left">
    @if(findAttributeValue(subtext.attributes, 'rend')){
    {{ findAttributeValue(subtext.attributes, "rend")?.toUpperCase() }}
    } @else {
    {{ subtext.tagName!.toUpperCase() }}
    }
  </td>
  <td class="right">
    @if(!subtext.isText) {
    <app-ms-identifier [msIdentifier]="subtext.childNodes" />
    }
  </td>
</tr>
} @default {<span
  >{{ subtext.text }}@if(!subtext.isText) {
  <app-ms-identifier [msIdentifier]="subtext.childNodes" /> }</span
>
} } }
