@for (subtext of latin_text()!.childNodes || latin_text; track subtext.name) {
@if (subtext.tagName === 'div' && isSubset([{name: 'type', value: 'latin'}],
subtext.attributes)) {
<article
  id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}"
  class="{{ findAttributeValue(subtext.attributes, 'type') }}"
>
  @if (!subtext.isText) {
  <app-latin-text [latin_text]="subtext" />
  }
</article>
} @else if (subtext.tagName === 'p') {
<p>
  @if (!subtext.isText) {
  <app-latin-text [latin_text]="subtext" />
  }
</p>
} @else if (subtext.tagName === 'emph' && isSubset([{name: 'rend', value:
'italic'}], subtext.attributes)) {
<span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
  @if (!subtext.isText) { <app-latin-text [latin_text]="subtext" /> }
</span>
} @else if (subtext.tagName === 'supplied' && isSubset([{name: 'reason', value:
'TOC'}], subtext.attributes)) {
<span
  class="{{ findAttributeValue(subtext.attributes, 'rend') }} {{
    findAttributeValue(subtext.attributes, 'reason')
  }}"
>
  @if (!subtext.isText) { [<app-latin-text [latin_text]="subtext" />] }
</span>
} @else if (subtext.tagName === 'supplied' && isSubset([{name: 'reason', value:
'integrated'}], subtext.attributes)) {
<span
  class="{{ findAttributeValue(subtext.attributes, 'rend') }} {{
    findAttributeValue(subtext.attributes, 'reason')
  }}"
>
  @if (!subtext.isText) { &#8249;&#160;<app-latin-text
    [latin_text]="subtext"
  />&#160;&#8250; }
</span>
} @else if (subtext.tagName === 'said' && isSubset([{name: 'rend', value:
'double-chevrons'}], subtext.attributes)) {
<span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
  @if (!subtext.isText) { «<app-latin-text [latin_text]="subtext" />» }
</span>
} @else if (subtext.tagName === 'said' && isSubset([{name: 'rend', value:
'double-chevrons-left'}], subtext.attributes)) {
<span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
  @if (!subtext.isText) { «<app-latin-text [latin_text]="subtext" /> }
</span>
} @else if (subtext.tagName === 'said' && isSubset([{name: 'rend', value:
'double-chevrons-right'}], subtext.attributes)) {
<span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
  @if (!subtext.isText) { <app-latin-text [latin_text]="subtext" />» }
</span>
} @else {
<span
  >{{ subtext.text }}@if (!subtext.isText) {
  <app-latin-text [latin_text]="subtext" />}</span
>
}}