.home-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2rem 4rem;
  grid-area: header;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 2.5rem;
}

.item a {
  color: #fff;
  text-decoration: none;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
}

.item a:hover {
    opacity: .8;
}

li.item {
  font-size: 1.25rem;
  list-style: none;
}

@media screen and (max-width: 767px) {

  .home-header {
    justify-content: center;
    padding: 1rem 2rem;
  }

  nav {
    flex: 1;
  }

  .nav {
    gap: 0;
  }
 
}

@media screen and (max-width: 450px) {

  .home-header {
    padding: 1rem;
  }

  li.item {
    font-size: 1rem;
  }
 
}

