@for(subtext of this.apparatus(); track subtext.id) { @switch (true) { @case
(subtext.tagName === 'app') {
<div
  appCarousel
  class="carousel-item"
  [class.active]="
    findAttributeValue(subtext.attributes, 'corresp')!.includes(this.folio()!)
  "
  id="{{ findAttributeValue(subtext.attributes, 'corresp')?.replace('#', '') }}"
>
  @if(!subtext.isText) {
  <app-apparatus-text
    [apparatus]="subtext.childNodes"
    [noteId]="this.noteId()"
  />
  }
</div>

} @case(isSubset([{ name: 'type', value: 'link' }], subtext.attributes)) {
<h2>
  {{ findAttributeValue(subtext.attributes, "corresp")?.replaceAll("_", " ") }}
  @if(!subtext.isText) {
  <app-apparatus-text
    [apparatus]="subtext.childNodes"
    [noteId]="this.noteId()"
  />
  }
</h2>
} @case(subtext.tagName === 'link') {
<a
  class="BSB_link"
  [href]="findAttributeValue(subtext.attributes, 'target')"
  target="_blank"
  [title]="'Bayerische Staatsbibliothek'"
  ><fa-icon [icon]="link"
/></a>
} @case(subtext.tagName === 'note') {
<p
  appNote
  [noteId]="noteId()"
  class="app-note"
  id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}"
>
  @if(!subtext.isText) {
  <app-apparatus-text
    [apparatus]="subtext.childNodes"
    [noteId]="this.noteId()"
  />
  }
</p>
} @case(subtext.tagName === 'expan') {<span class="expan"
  >@if(!subtext.isText) {&#8249;<app-apparatus-text
    [apparatus]="subtext.childNodes"
    [noteId]="this.noteId()"
  />&#8250;}</span
>
} @default {<span class="{{ subtext.tagName }}"
  >{{ subtext.text }}@if(!subtext.isText) {<app-apparatus-text
    [apparatus]="subtext.childNodes"
    [noteId]="this.noteId()"
  />}</span
>
} } }
