@for(subtext of this.apparatus(); track subtext.id) { @switch (true) {
@case (subtext.tagName === 'app') {
<div
  appCarousel
  class="carousel-item"
  [class.active]="
    findAttributeValue(subtext.attributes, 'corresp')!.includes(this.folio()!)
  "
  id="{{ findAttributeValue(subtext.attributes, 'corresp')?.replace('#', '') }}"
>
  <app-apparatus-text [apparatus]="subtext.childNodes" [noteId]="this.noteId()">
  </app-apparatus-text>
</div>

} @case(isSubset([{ name: 'type', value: 'link' }], subtext.attributes)) {
<h2>
  {{ findAttributeValue(subtext.attributes, "corresp")?.replaceAll("_", " ") }}
  <app-apparatus-text [apparatus]="subtext.childNodes" [noteId]="this.noteId()">
  </app-apparatus-text>
</h2>
} @case(subtext.tagName === 'link') {
<a
  class="BSB_link"
  [href]="findAttributeValue(subtext.attributes, 'target')"
  target="_blank"
  [title]="'Bayerische Staatsbibliothek'"
  ><fa-icon [icon]="link"
/></a>
} @case(subtext.tagName === 'note') {
<p
  appNote
  [noteId]="noteId()"
  class="app-note"
  id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}"
>
  <app-apparatus-text [apparatus]="subtext.childNodes" [noteId]="this.noteId()">
  </app-apparatus-text>
</p>
} @default {
<span class="{{ subtext.tagName }}"
  >{{ subtext.text
  }}<app-apparatus-text
    [apparatus]="subtext.childNodes"
    [noteId]="this.noteId()"
  >
  </app-apparatus-text>
</span>
} } }