<div
  class="offcanvas offcanvas-bottom"
  tabindex="-1"
  id="note-offcanvas"
  aria-labelledby="noteOffcanvasLabel"
  data-bs-scroll="true"
  data-bs-backdrop="true"
  (hide.bs.offcanvas)="onHide()"
  (show.bs.offcanvas)="onShow()"
  [appModal]="this.offcanvas()"
  hash="#note"
>
  <div class="offcanvas-header">
    <div class="d-flex align-items-center">
      <h5 class="offcanvas-title" id="offcanvasBottomLabel">
        Nota @if(noteId()) {
        {{ noteId()!.replace("note-", "") }}
        }
        <fa-icon class="info-icon" [icon]="penNib" />
      </h5>
    </div>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <hr />
  <div class="offcanvas-body">
    <div>
      <app-note-text [note]="note()" />
    </div>
  </div>
</div>
