<p>
  3. Il secondo libro tratta di ciò che il frate può dire quando siede accanto
  al fuoco con altre persone. Il terzo libro contiene storie brevi e divertenti
  che il frate può raccontate ai suoi compagni di viaggio. Il quarto libro
  tratta ii ciò che il frate può dire quando fa visita ai malati. Il quinto
  libro tratta di ciò che il frate può dire a una persona afflitta per la morte
  di qualcun altro. Il sesto libro tratta di ciò che il frate può dire ad una
  persona afflitta per qualunque altra ragione. Il settimo libro tratta di ciò
  che può dire per mantenere una persona in amicizia. L'ottavo libro contiene
  diversi argomenti interessanti sui vizi e le virtù. Il primo capitolo concerne
  le persone con le quali il frate conddivide la mensa.
</p>
