section {
  margin-bottom: 2.5rem;
}

h3 {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #fff;
}

.name ~ .name::before {
  content: ", ";
}

p:not(.names, .titles) {
  display: flex;
  flex-direction: column;
}

.icon {
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  margin-top: .5rem;
}

.icon:hover {
  opacity: 0.8;
}
