.search-bar {
  padding: 2rem 20vw;
  padding-top: 4rem;
}

.results {
  padding: 2rem 20vw;
  padding-bottom: 4rem;
}

span.highlight {
    background-color: rgb(249, 249, 167);
    color: red;
}

@media screen and (max-width: 1024px) {
  .results,
  .search-bar {
    padding: 2rem 15vw;
  }
  .search-bar {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 820px) {
  .results,
  .search-bar {
    padding: 2rem 10vw;
  }
  .search-bar {
    padding-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .search-bar {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .results,
  .search-bar {
    padding: 1rem 5vw;
  }

  .results {
    padding-bottom: 6.5rem;
  }

  .search-bar {
    padding-top: 2.5rem;
  }
}
