.header {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  background-color: #1d1d1d;
  color: #fff;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + (44 - 22) * ((100vw - 360px) / (1600 - 360)));
  cursor: pointer;
  margin: 0;
  width: 50px;
  height: 60px;
}

.icon-container:hover {
  opacity: 0.8;
}

fa-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open {
  display: none;
}

.show .open {
  display: block;
}

.show .close {
  display: none;
}

.show {
  font-size: calc(18px + (40 - 18) * ((100vw - 360px) / (1600 - 360)));
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.author,
.title {
  text-align: center;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  margin-bottom: 0;
}

.author {
  font-size: calc(10px + (24 - 10) * ((100vw - 360px) / (2000 - 360)));
}

.title {
  font-size: calc(11px + (32 - 11) * ((100vw - 360px) / (2000 - 360)));
}

@media screen and (max-width: 400px) {
  .header {
    padding: 2vw;
  }
  .icon {
    width: 35px;
    height: 42px;
  }
}
