.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: #1d1d1d;
  color: #fff;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.75rem;
    cursor: pointer;
    margin: 0;
    width: 50px;
    height: auto;
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.absolute {
  position: absolute;
}

.icon-container:hover {
  opacity: .8;
}

.open {
  display: none;
}

.show .open {
  display: block;
}

.show .close {
  display: none;
}

.show {
  font-size: 2.5rem;
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.author, .title {
  text-align: center;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  margin-bottom: 0;
}

.author {
  font-size: 1rem;
}

.title {
  font-size: 1.5rem;
}
