.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw;
  background-color: #1d1d1d;
  color: #fff;
}

.icon,
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(22px + (44 - 22) * ((100vw - 360px) / (1600 - 360)));
  margin: 0;
  width: 50px;
  height: 60px;
}

.icon {
  cursor: pointer;
}

.icon-container:hover {
  opacity: 0.8;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

fa-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open {
  display: none;
}

.show .open {
  display: block;
}

.show .close {
  display: none;
}

.show {
  font-size: calc(18px + (40 - 18) * ((100vw - 360px) / (1600 - 360)));
}

.credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.author,
.title {
  text-align: center;
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  margin-bottom: 0;
}

.author {
  font-size: calc(11px + (24 - 11) * ((100vw - 360px) / (2000 - 360)));
}

.title {
  font-size: calc(12px + (32 - 12) * ((100vw - 360px) / (2000 - 360)));
}

.logo {
  width: calc(50% + (100 - 50) * ((100vw - 360px) / (2000 - 360)));
  min-width: 22px;
  max-width: 44px;
}

@media screen and (max-width: 400px) {
  .header {
    padding: 2vw;
  }
  .icon,
  .search {
    width: 35px;
    height: 42px;
  }
}
