<header class="header">
  <figure class="icon">
    <div class="icon-container">
      <fa-icon [icon]="faHouse" />
    </div>
  </figure>
  <div class="credits">
    <h2 class="author">{{ author() }}</h2>
    <h1 class="title">{{ title().toUpperCase() }}</h1>
  </div>
  <figure class="icon">
    <div
      class="icon-container"
      data-bs-toggle="dropdown"
      data-bs-auto-close="outside"
      aria-expanded="false"
    >
      <fa-icon class="close" [icon]="faGear" />
      <fa-icon class="open" [icon]="faGears" />
    </div>
    <app-dropdown />
  </figure>
</header>
