@for(subtext of this.translation(); track subtext.id) { @switch (true) { @case
((subtext.tagName === 'div' && isSubset([{name: 'type', value: 'translation'}],
subtext.attributes))) {
<article class="{{ findAttributeValue(subtext.attributes, 'type') }}">
  @if(!subtext.isText) {
  <app-translation [translation]="subtext.childNodes" />
  }
</article>
} @case(subtext.tagName === 'p') {
<p>
  @if(!subtext.isText) {
  <app-translation [translation]="subtext.childNodes" />
  }
</p>
} @case(( subtext.tagName === 'emph' && isSubset([{ name: 'rend', value:
'italic' }], subtext.attributes))) {
<span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
  @if(!subtext.isText) {
  <app-translation [translation]="subtext.childNodes" />
  }
</span>
} @default {<span
  >{{ subtext.text }}@if(!subtext.isText) {
  <app-translation [translation]="subtext.childNodes" /> }</span
>
} } }
