@for (subtext of translation(); track subtext.tagName) { @if (subtext.tagName
=== 'div' && isSubset([{name: 'type', value: 'translation'}],
subtext.attributes)) {
<article class="{{ findAttributeValue(subtext.attributes, 'type') }}">
  @if (!subtext.isText) {
  <app-translation [translation]="subtext.childNodes!" />
  }
</article>
} @else if (subtext.tagName === 'p') {
<p>
  @if (!subtext.isText) {
  <app-translation [translation]="subtext.childNodes!" />
  }
</p>
} @else if (subtext.tagName === 'emph' && isSubset([{name: 'rend', value:
'italic'}], subtext.attributes)) {
<span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
  @if (!subtext.isText) {
  <app-translation [translation]="subtext.childNodes!" /> }
</span>
} @else {
<span
  >{{ subtext.text }}@if (!subtext.isText) {
  <app-translation [translation]="subtext.childNodes!" />}</span
>
}}
