.home-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6rem;
}

.title {
  color: #fff;
  padding-left: 4rem;
  width: 66%;
}

.logo {
    padding-right: 4rem;
    margin: 0;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo img {
    width: 95%;
    height: auto;
  }

.break-line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

h1,
h2,
.break.line {
  padding: 2rem 0;
  font-family: "Eagle Lake", serif;
  line-height: 4rem;
}

h2 {
  font-family: "Bilbo", cursive;
  line-height: 2.5rem;
  font-weight: 400;
}