.home-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6rem;
}

.title {
  color: #fff;
  padding-left: 4rem;
  width: 66%;
}

.logo {
  padding-right: 4rem;
  margin: 0;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 95%;
  height: auto;
  /*-webkit-animation: spin 160s linear infinite;
  -moz-animation: spin 160s linear infinite;
  animation: spin 160s linear infinite;*/
}

.break-line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

h1,
h2,
.break.line {
  padding: 3rem 0;
  font-family: "Eagle Lake", serif;
  line-height: 4rem;
}

h2 {
  font-family: "Bilbo", cursive;
  line-height: 2.75rem;
  font-weight: 400;
}

h1, h2 {
  font-size: calc(22px + (36 - 22) * ((100vw - 360px) / (1600 - 360)));
}

@media screen and (max-width: 1050px) {
  .title {
    padding: 0 15vw;
    width: 100%;
  }
  .logo {
    display: none;
  }

  h1,
  h2 {
    text-align: center;
    padding: 5vh 0;
  }
}

@media screen and (max-width: 767px) {
  .title {
    padding: 0 7.5vw;
    width: 100%;
  }
  .logo {
    display: none;
  }

  h1,
  h2 {
    text-align: center;
    padding: 2.5vh 0;
  }
}

@media screen and (max-width: 450px) {
  h1,
  h2 {
    padding: 1.5rem 0;
    line-height: 2.5rem;
  }

  .title {
    padding: 0 5.5vw;
    width: 100%;
  }
 
}
