.home-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6rem;
}

.title {
  color: #fff;
  padding-left: 4rem;
  width: 66%;
}

.logo {
  padding-right: 4rem;
  margin: 0;
  width: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 95%;
  height: auto;
  /*-webkit-animation: spin 160s linear infinite;
  -moz-animation: spin 160s linear infinite;
  animation: spin 160s linear infinite;*/
}

.break-line {
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fff;
}

h1,
h2,
.break.line {
  padding: 3rem 0;
  font-family: "Eagle Lake", serif;
  line-height: 4rem;
}

h2 {
  font-family: "Bilbo", cursive;
  line-height: 2.75rem;
  font-weight: 400;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1050px) {
  .logo {
    display: none;
  }

  h1,
  h2 {
    text-align: center;
    padding: 5rem 0;
  }
}
