@for (subtext of this.note(); track subtext) {
  @switch (true) {
    @case (subtext.tagName === 'item') {
      <p class="note" id="{{ findAttributeValue(subtext.attributes, 'xml:id') }}">
        @if (!subtext.isText) {
          <app-note-text [note]="subtext.childNodes">
          </app-note-text>
        }
      </p>
    }
    @case (
      subtext.tagName === 'hi' &&
      isSubset([{ name: 'rend', value: 'italic' }], subtext.attributes)
      ) {
      <i>
        <app-note-text [note]="subtext.childNodes"> </app-note-text>
      </i>
    }
    @case (
      subtext.tagName === 'said' &&
      isSubset([{ name: 'rend', value: 'double-chevrons' }], subtext.attributes)
      ) {
      <span class="{{ findAttributeValue(subtext.attributes, 'rend') }}">
        «@if (!subtext.isText) {
        <app-note-text [note]="subtext.childNodes">
          </app-note-text
          >
          }»</span
          >
        }
        @default {
          <span
            >{{ subtext.text
            }}@if (!subtext.isText) {
            <app-note-text [note]="subtext.childNodes">
            </app-note-text>
          }
        </span>
      }
    }
  }
