<ng-container *ngFor="let subtext of primary_biblio" [ngSwitch]="true">
  <ng-container *ngSwitchCase="subtext.tagName === 'biblStruct'">
    <li class="bibl-item">
      <app-primary-biblio
        *ngIf="!subtext.isText"
        [primary_biblio]="subtext.childNodes"
      />
    </li>
  </ng-container>
  <ng-container *ngSwitchCase="subtext.tagName === 'author'">
    <span class="author"
      ><app-primary-biblio
        *ngIf="!subtext.isText"
        [primary_biblio]="subtext.childNodes"
      />:
    </span>
  </ng-container>
  <ng-container *ngSwitchCase="subtext.tagName === 'editor'">
    <span class="editor"
      >edidit
      <app-primary-biblio
        *ngIf="!subtext.isText"
        [primary_biblio]="subtext.childNodes"
      />,
    </span>
  </ng-container>
  <span *ngSwitchDefault>
    @if(subtext.text) {
    {{ subtext.text }}
    }
    <app-primary-biblio
      *ngIf="!subtext.isText"
      [primary_biblio]="subtext.childNodes"
    />
  </span>
</ng-container>
