#carouselApparatusControls {
  height: 27rem;
  overflow-y: auto;
  background-color: rgb(231, 231, 231);
  padding: .5rem;
}

.modal-body {
  padding: .5rem;
}

#modalApparatus .modal-content {
  border-radius: 0 !important;
}

.carousel-control-next, .carousel-control-prev {
  position: static;
}
.buttons {
  display: flex;
  border-radius: 0;
  justify-content: space-between;
}

.app-icon img {
  height: 30px;
}

fa-icon {
  color: #000;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}
