#carouselApparatusControls {
  height: 25rem;
  overflow-y: auto;
}

#modalApparatus .modal-content {
  border-radius: 0 !important;
}

button {
  position: static;
}
.modal-body {
  background-color: lightgray;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: grey;
}
