<div
  class="modal fade"
  id="modalApparatus"
  tabindex="-1"
  aria-labelledby="modalApparatusLabel"
  aria-hidden="true"
  appScroll="show"
  [id]="this.noteId()"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <!--HEADER-->
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold" id="modalApparatusLabel">
          <span class="app-icon">
            <img
              src="../../../../../assets/images/app-icon.svg"
              alt="apparatus"
            />
          </span>
          &nbsp;&nbsp;Apparato critico
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!--BODY-->
      <div class="modal-body">
        <div
          #list
          id="carouselApparatusControls"
          class="carousel slide multiple"
          data-bs-interval="false"
        >
          <div #carousel class="carousel-inner">
            <app-apparatus-text
              [apparatus]="apparatus()"
              [folio]="folio()"
              [noteId]="this.noteId()"
            ></app-apparatus-text>
          </div>
        </div>
      </div>
      <!--FOOTER-->
      <div class="modal-footer buttons">
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselApparatusControls"
          data-bs-slide="prev"
        >
          <fa-icon [icon]="angleLeft" />
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselApparatusControls"
          data-bs-slide="next"
        >
          <fa-icon [icon]="angleRight" />
        </button>
      </div>
    </div>
  </div>
</div>
